@font-face{font-family:'Bebas Neue';font-weight:400;font-style:normal;src:url('BebasNeue-400.woff2') format('woff2');}
@font-face{font-family:'Work Sans';font-weight:400;font-style:normal;src:url('WorkSans-400.woff2') format('woff2');}
@font-face{font-family:'Work Sans';font-weight:600;font-style:normal;src:url('WorkSans-600.woff2') format('woff2');}
@font-face{font-family:'Work Sans';font-weight:700;font-style:normal;src:url('WorkSans-700.woff2') format('woff2');}